## Importing Necessary libraries

In [51]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

## Reading the data

In [54]:
ad=pd.read_csv("./agri_ds.csv")

In [55]:
ad.shape

(184, 8)

In [56]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 8 columns):
season         184 non-null int64
pH value       184 non-null float64
temperature    184 non-null int64
humidity       184 non-null int64
rainfall       184 non-null float64
yield          184 non-null float64
water          184 non-null int64
crop           184 non-null object
dtypes: float64(3), int64(4), object(1)
memory usage: 11.6+ KB

In [57]:
ad.describe()

,season,pH value,temperature,humidity,rainfall,yield,water
count,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000
mean,0.179348,6.442935,25.864130,61.342391,104.155815,567.161304,57.347826
std,0.450146,0.773576,4.542214,14.068418,75.719285,2814.418467,14.953798
min,0.000000,4.500000,13.000000,35.000000,2.870000,0.180000,25.000000
25%,0.000000,5.900000,23.000000,50.000000,52.750000,0.607500,50.000000
50%,0.000000,6.400000,26.000000,61.000000,76.000000,1.655000,60.000000
75%,0.000000,6.900000,29.000000,72.000000,139.250000,5.322500,70.000000
max,2.000000,8.500000,38.000000,94.000000,498.000000,15575.230000,85.000000

In [58]:
ad.head()

   season  pH value  temperature  humidity  rainfall  yield  water   crop
0       1       5.5           26        36     143.0   3.99      80  Rice
1       1       5.7           29        37      99.0   4.26      80  Rice
2       1       5.9           22        38     110.0   4.64      80  Rice
3       1       6.0           27        39     107.0   3.61      80  Rice
4       1       6.2           20        40     137.0   4.65      80  Rice

## Defining dependent and independent variables of model

In [59]:
y = ad['crop'].values   #dependent
X = ad.drop('crop', axis=1).values   #independent

### Creating Model using KNN and fitting the model

In [18]:
knn = KNeighborsClassifier(n_neighbors=6)

In [19]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=6, p=2,
           weights='uniform')

## Model Accuracy

In [61]:
y_pred = knn.predict(X)
print("Prediction : {}".format(y_pred))

Prediction : ['Rice' 'Ragi' 'Ragi' 'Ragi' 'Rice' 'Rice' 'Rice' 'Jowar' 'Maize' 'Maize'
 'Groundnut' 'Jowar' 'Groundnut' 'Maize' 'Jowar' 'Jowar' 'Jowar' 'Jowar'
 'Jowar' 'Jowar' 'Jowar' 'Bajra' 'Bajra' 'Bajra' 'Bajra' 'Bajra' 'Bajra'
 'Bajra' 'Ragi' 'Ragi' 'Greengram' 'Greengram' 'Ragi' 'Ragi' 'Ragi'
 'Arhar' 'Arhar' 'Arhar' 'Arhar' 'Arhar' 'Arhar' 'Arhar' 'Sugarcane'
 'Sugarcane' 'Sugarcane' 'Sugarcane' 'Sugarcane' 'Sugarcane' 'Sugarcane'
 'Maize' 'Groundnut' 'Groundnut' 'Groundnut' 'Groundnut' 'Groundnut'
 'Groundnut' 'Sesame' 'Sesame' 'Sesame' 'Sesame' 'Sesame' 'Sesame'
 'Sesame' 'Cotton' 'Cotton' 'Cotton' 'Cotton' 'Cotton' 'Cotton' 'Cotton'
 'Gram' 'Castorseed' 'Castorseed' 'Groundnut' 'Cashewnut' 'Smallmillets'
 'Smallmillets' 'Banana' 'Banana' 'Banana' 'Banana' 'Banana' 'Banana'
 'Banana' 'Cashewnut' 'Sugarcane' 'Cashewnut' 'Cashewnut' 'Cashewnut'
 'Cashewnut' 'Cashewnut' 'Castorseed' 'Castorseed' 'Castorseed'
 'Castorseed' 'Castorseed' 'Castorseed' 'Castorseed' 'Cashewnut'
 'Coriander' 'Coriander' 'Coriander' 'Cashewnut' 'Coriander' 'Coriander'
 'Coconut' 'Coconut' 'Coconut' 'Coconut' 'Coconut' 'Coconut' 'Coconut'
 'Castorseed' 'Castorseed' 'Chilly' 'Chilly' 'Chilly' 'Chilly' 'Cotton'
 'Gram' 'Cotton' 'Gram' 'Gram' 'Gram' 'Gram' 'Gram' 'Horsegram' 'Gram'
 'Onion' 'Horsegram' 'Horsegram' 'Horsegram' 'Castorseed' 'Greengram'
 'Greengram' 'Greengram' 'Greengram' 'Greengram' 'Greengram' 'Greengram'
 'Jowar' 'Greengram' 'Onion' 'Onion' 'Onion' 'Onion' 'Onion' 'Onion'
 'Onion' 'Smallmillets' 'Smallmillets' 'Smallmillets' 'Smallmillets'
 'Horsegram' 'Smallmillets' 'Smallmillets' 'Smallmillets' 'Sweet potato'
 'Sweet potato' 'Sweet potato' 'Sweet potato' 'Sweet potato'
 'Sweet potato' 'Ragi' 'Tapioca' 'Tapioca' 'Tapioca' 'Tapioca' 'Tapioca'
 'Tapioca' 'Turmeric' 'Smallmillets' 'Turmeric' 'Sweet potato' 'Cashewnut'
 'Cashewnut' 'Turmeric' 'Sesame' 'Urad' 'Sesame' 'Sesame' 'Ragi' 'Urad'
 'Sesame']

In [64]:
from sklearn import metrics
print("Model Accuracy:",metrics.accuracy_score(y, y_pred)*100)

Model Accuracy: 77.71739130434783

## Mannually testing the model

In [37]:
x_new = ['1','5.9','29','38','110','4.68','80']

In [29]:
new_pred = knn.predict([x_new])

In [30]:
print("Prediction : {}".format(new_pred))

Prediction : ['Ragi']

In [38]:
x_new = ['2','6.5','30','35','90','2.73','70']

In [39]:
new_pred = knn.predict([x_new])

In [40]:
print("Prediction : {}".format(new_pred))

Prediction : ['Ragi']

In [41]:
x_new = ['0','7.1','30','35','80','4.73','70']

In [42]:
new_pred = knn.predict([x_new])

In [43]:
print("Prediction : {}".format(new_pred))

Prediction : ['Maize']

In [46]:
x=["0","5.0","21","90","75.00",'12.10','70']

In [47]:
new_pred = knn.predict([x])

In [48]:
print("Prediction : {}".format(new_pred))

Prediction : ['Smallmillets']